@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body{
    padding-top: 20px;
    padding-right: 100px;
    padding-left: 100px;

}

.conteudo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.caixa-texto{
    width: 600px;
}

.caixa-imagem{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    margin-top: 250px;
}

.menu{
    display: flex;
    justify-content: center;
}

button{
    background-color: #017143;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}

h2{
    font-size: 60px;
    font-weight: 500;
}

span{
    color: #017143;
    font-size: 70px;
    font-weight: 900;
}

p{
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 30px;
}